.dish{
	width: 400px;
	height: 375px;
	border:1px solid;
	background-color:#FDDBDB;
	background-blend-mode: soft-light;
}
.dish_image_div{
	width: 400px;
	height: 300px;
}
.dish_image{
	width: 400px;
	height: 300px;
}

hr{
	
	margin-right: 5px;
	border:1px solid;
	margin-top: 20px;

	
}
